* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 600px;
}

header{
    background-color: aqua;
    padding: 20px;

}
.row{
    display: flex;
    max-width: 800px;
    background-color: burlywood;
    justify-content: space-between;
}

.col-2 {
    
    flex-basis: calc((100% / 12) * 2);
}

.col-10 {
    flex-basis: calc((100% / 12) *10 );
}

/* .debug {
	background-color: tomato;
} */


.debug [class^='col-'] {
	/* min-height: 100px; */
	padding: 10px;
    border: 1px dashed black;
	/* border: 2px solid rgb(219, 237, 100); */
}

/* inizio sezione 1 */

.col-1 {
    flex-basis: calc((100% / 12) * 10);
    min-height: 250px;
    background-color: rgb(241, 47, 255);
    
    
}

.section-one {
    background-color: blue;
    padding: 40px;

}

.row-section-one {
    display: flex;
    /* background-color: rgb(241, 47, 255); */
    justify-content: center;

}

/* inizio sezione 2 */

.col-8{
    flex-basis: calc((100% / 12) * 8);
    min-height: 250px;
    background-color: rgb(0, 162, 255);  
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 250px;
    
}

.section-two {
    padding: 40px;
}

.row-section-two {
    display: flex;
    background-color: rgb(253, 200, 244);
}

/* inizio sezione 3 */

.section-three {
    padding: 40px;
    background-color: rgb(192, 192, 192);
}

/* inizio sezione 5 */

.col-12 {
    flex-basis: calc(100%) ;
    min-height: 500px;
    background-color: green;
    
}

.section-five {
    padding: 40px;
    background-color: rgb(192, 192, 192);
}

/* inizio footer */

.footer-1 {
    padding: 10px;
    background-color: rgb(65, 65, 65);
}

.foot-col-8{
    flex-basis: calc((100% / 12) * 8);
    min-height: 250px;
    background-color: rgb(255, 0, 225);
    border: 1px dashed white;

}

.foot-col-4 {
    flex-basis: calc((100% / 12) * 4);
    min-height: 250px;
    background-color: rgb(0, 142, 243);
    border: 1px dashed white;

    
}